.part-01 {
    display: flex;
    margin-bottom: 7px;
    justify-content: center;
}

.eyebrow {
    width: 23px;
    height: 11px;
    margin-right: 20px;
    margin-left: 20px;
    border: 3px solid #41339f;
    border-radius: 100px;
    background-color: #f2f2ed;
}
