.hair-container {
    position: relative;
    display: flex;
    min-width: 200px;
    justify-content: center;
}

.hair-overflow-hidden {
    display: flex;
    overflow: hidden;
    height: 25%;
    justify-content: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.hair {
    z-index: -10;
    width: 50%;
    background-color: #f2f2ed;

    &.left {
        border-radius: 0px 0px 100px 100px;
    }

    &.right {
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }
}

